In [0]:
-- sales east table
CREATE TABLE sales_east(
  sales_id INT,
  customer_id INT,
  product_id INT,
  quantity INT,
  amount DECIMAL(10,2),
  sales_timestamp TIMESTAMP
);
INSERT INTO sales_east VALUES
(1 ,101, 201, 2, 200.00, '2025-01-01 10:00:00'),
(2 ,102,202, 1, 100.00, '2025-01-01 11:01:00'),
(3 ,103,203,5, 500.00, '2025-01-01 12:15:00'),
(4 ,104,204,3, 300.00, '2025-01-01 13:50:00'),
(5 ,105,205,4,440.00, '2025-01-01 14:45:00');

select * from sales_east;
-- sales west table

create table sales_west(
  sales_id INT,
  customer_id INT,
  product_id INT,
  quantity INT,
  amount DECIMAL(10,2),
  sales_timestamp TIMESTAMP
);
insert into sales_west values
(1 ,101, 201, 2, 200.00, '2025-01-01 10:00:00'),
(2 ,102,202, 1, 100.00, '2025-01-01 11:01:00'),
(3,103,203,5, 500.00, '2025-01-01 12:15:00'),
(4,104,204,3, 300.00, '2025-01-01 13:50:00'),
(5,105,205,4,440.00, '2025-01-01 14:45:00');

select * from sales_west     


------------------------------------------------------------

CREATE TABLE products(
  product_id INT,
  product_name STRING,
  category STRING,
  price DECIMAL(10,2),
  last_updated TIMESTAMP
);
insert into products values
(201,'Laptop','Electronics',1000.00,'2023-01-01 00:00:00'),
(202,'Headphones','Electronics',50.00,'2023-01-01 00:00:00'),
(203,'Shirt','Clothing',25.00,'2023-01-01 00:00:00'),
(204,'Pants'  ,'Clothing',35.00,'2023-01-01 00:00:00'),
(205 ,'Shoes','Clothing',40.00,'2023-01-01 00:00:00'),
(206,'Shoes','Clothing',40.00,'2023-01-01 00:00:00'),
(207,"phone","electronics",1000.00,"2023-01-01 00:00:00"),
(208,"phone","electronics",1000.00,"2023-01-01 00:00:00");


select * from products


-- InCremental Load

-- ---------------------------------------------------------------------------------
CREATE TABLE customers(
  customer_id INT,
  customer_name STRING,
  region STRING,
  last_updated TIMESTAMP
);
INSERT INTO customers VALUES
(101,'John Doe','East','2023-01-01 00:00:00'),
(102,'Jane Smith','West','2023-01-01 00:00:00'),
(103,'Alice Johnson','East','2023-01-01 00:00:00'),
(104,'Aline Jock','West','2023-01-01 00:00:00'),
(105,'Rghav John','East','2023-01-01 00:00:00'),
(106,'Ravi Smith','West','2023-01-01 00:00:00'),
(107,'Smith Weck','West','2023-01-01 00:00:00'),
(108,'John Doe','East','2023-01-01 00:00:00'),
(109,'Jane Smith','West','2023-01-01 00:00:00'),
(110,'Ravi Smith','West','2023-01-01 00:00:00');  

select * from customers;